<!-- =============== Header =============== -->
<!-- <nav class="navbar"style="background-color: rgba(146, 137, 137, 0.868);">
    <div class="container-fluid">
      <div class="task">
        Дхарма ракшати ракшати</div>
    </div>
  </nav>-->
<app-dropdown></app-dropdown> 


<!-- <footer class="bg-body-tertiary text-center text-lg-start navbar-fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(146, 137, 137, 0.868);margin-top: 383px;height: 50px;">
    ©anurag.env 2024 Copyright:
    <a class="text-body" href="https://vsanurag.netlify.app/">anurag.com</a>
  </div>
</footer> -->