<!-- <button (click)="dropdown()" class="dropdown">➕</button> 
@if(this.f === true){
<div class="btn-group">
  <button type="button" class="btn btn-secondary" style="margin-left: 17px; margin-bottom: 5px;">Table</button>
  <button type="button" class="btn btn-secondary dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown()" style="margin-bottom: 5px;">
  </button>
</div>

<div class="btn-group">
  <input type="text" class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Table"
  (click)="toggleDropdown()"><span class="sr-only">Toggle Dropdown</span>
  </div>
} -->
<!-- // save() {
  //   console.log('Saving table input:', this.inputValue);
  //   const mockRequest = new Promise((resolve, reject) => {
  //     setTimeout(() => {
  //       console.log('Table name saved successfully!');
  //       resolve(false); 
  //     }, 100000); 
  //   });
  
  //   mockRequest.then(() => {
  //     this.inputValue = ''; 
  //   }).catch((error) => {
  //     console.error('Error saving table name:', error);
  //   });
  // }
 

  // save() {
  //   if (this.selectedOption?.value === 'table' && this.inputValue.trim() !== '') {
  //     console.log('Saving table input:', this.inputValue);
  //     this.selectedOption.label = this.inputValue;
  //     this.inputValue = ''; 
  //   } else {
  //     console.error('Invalid input for saving table name.');
  //   }
  // } -->



  
  <!-- // cancel() {
    //   this.inputValue = ''; 
    //   this.selectedOption = null;   
    // }
     -->



     <!-- <div style="margin-left: 25%; margin-bottom: 80%;">
<div *ngIf="isFolderSelected">
  <button (click)="toggleNestedDropdown()" class="plus" >➕</button>
</div>
</div> -->

<!-- 
<ul *ngIf="isOpen" style="margin-top: 56px;width: 145px;margin-left: -14px;">
  <li *ngFor="let option of options" (click)="selectOption(option)" class="option"> 
    {{ option.label}}
    <i *ngIf="option.value === 'table'" class="fas fa-table" style="margin-left: -47px; display: flex;"></i>
    <i *ngIf="option.value === 'folder'" class="fas fa-folder" style="margin-left: -47px; display: flex;"></i>
  </li>
</ul> -->